.shell {
  display: flex;
  height: 100%;
  min-width: 960px;
  overflow: hidden;
  background: var(--color-bg);
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
  min-height: 0;
}
